.print { display: inherit; }

.btn-print { display: none; }

.panel-default { border:0 !important; }

.collapse { 
    display: inherit;
    display: block;
}


body, h1, h2, h3, h4, h5, h6, p, #content h3 { 
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif !important; 
    letter-spacing: normal;
    text-transform: none; 
    text-align: left !important;
}

h1 { font-weight: bold; }

.print.header { margin-bottom: 20px; }
#main header { margin-bottom: 40px; }

.well {
    padding: 0 !important;
    margin-bottom: 20px;
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

h4 i, .add-info i { display: none !important; }

.advisory-info {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 15px;
}

.left { float: left; }
.right { float: right; }

.header .page-title {
    /*border-top: 1px solid #666;*/
    clear: both;
    padding: 0;
    margin-top: 10px;
}

.page-title h2 { 
    font-size: 1.25em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1px;
}

.panel-heading { 
    border: none !important;
    padding: 0;
    margin: 0;
}
.panel-title {
    font-size: 2em;
    font-weight: bold;
}

/*button, .button { display: none !important; }*/

.container .row > div { 
    margin: 0 !important;
    padding: 0 !important;
}
